:root {
    --color-green: rgb(159, 234, 220);
    --color-white: #ffffff;
}
body {
    background-image:url(/img/bg-nemo.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 35px;
  margin-left: 35px;
.
}
.column1 {
    float: left;
    flex: 66%;
    max-width: 60%;
}
.column2 {
    float: right;
    flex: 33%;
    margin-top:180px
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:500px) {
  .column1 {
    width: 100% !important;
    max-width: 100%; 
  }
 .column2 {
    width: 100% !important;
    max-width: 100%; 
    margin-top: 0px;
  }
  .infos{
    align-items:inherit!important;
  }
  .app-text h1{
    font-size: 19px !important;
    text-align: left !important;
    line-height: 20px !important;
    margin-bottom: 25px !important;
    font-weight: 600 !important;
    line-break: normal !important; 
    font-family: 'Rubik', sans-serif;
    max-width: 70% !important; 
  }
  .app-text p{
    font-size: 15px !important;
    text-align: left !important;
    line-height: 20px !important;
    margin-bottom: 60px !important;
    font-weight: 200 !important;
    font-family: 'Rubik', sans-serif;
    max-width: 70% !important; 
  }
  .botao {
    display:none
  }
 .imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
  }
  .secao-3 #titulo-3{
    text-align: center !important;
    font-size: 22px !important;
    line-height: 24px !important;
    width: 280px !important;
    font-family: 'Rubik', sans-serif;
    padding-top: 20px
  }
  .secao-3 p{
    text-align: center;
  }
  .secao-3-content{
    display: flex;
    margin:20px 0;
    width: 0.4% !important;
  }
  .secao-3{
    margin-top:50px;
    align-items: center !important;
    width: 100% !important;
  }
.imagem1{
    display:auto !important;
    align-items: center;
    height: 10px !important;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 14px !important;
    line-height: 20px;
    text-align: center;
    color: #414141;
    width: 100% !important;
    margin-top: 0px;
}
.imagem2{
    display:inline-flex !important;
    align-items: center;
    width: 100% !important;
    height: 100px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 14px !important;
    line-height: 20px;
    text-align: center;
    color: #414141;
}
.imagem3{
    display:inline-flex !important;
    align-items: center;
    width: 100% !important;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 14px !important;
    line-height: 20px;
    text-align: center;
    color: #414141;
}
.logo img {
    width: 280px !important;
    margin-left: 25px !important;
 
}
  
.app-text{
    flex-wrap: wrap;
    max-width: 70%;
}
  
}
.container{
    width: 100%;
    margin: 0 auto;
}
.logo img {
    width: 340px;
    margin-left: 35px;
    margin-bottom: 50px;
    display: block;
    margin-top: 30px;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-column-gap: 80px;
    align-items: flex-start;
}
.app-text h1{
    font-size: 40px;
    text-align: left;
    line-height: 40px;
    margin-bottom: 60px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    max-width: 85%
}
.app-text p{
    font-size: 17px;
    line-height: 20px;
    width: 600px;
    margin-bottom: 50px;
    font-family: 'Rubik', sans-serif;
    max-width: 65%;
}
.botao {
    background-color: var(--color-green);
    padding: 10px 25px;
    border-radius: 30px;
    color:var(--color-white);
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
.imagem1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    width: 195px;
    height: 100px;
    left: 351px;
    top: 828px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #414141;
}
.imagem2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    width: 195px;
    height: 100px;
    left: 351px;
    top: 828px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #414141;
}
.imagem3{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    width: 195px;
    height: 100px;
    left: 351px;
    top: 828px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #414141;
}
.secao-3 #titulo-3{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    display: block;
    width: 700px;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    padding-top: 20px;
}
.secao-3 p{
    text-align: center;
}
.secao-3-content{
    display: flex;
    margin:60px 0;
}
.secao-3{
    margin-top:50px;
}
.infos h2{
    font-size: 28px;
    line-height: 33px;
    width: 250px;
    margin: 0;
    margin-bottom: 20px;
}
.infos-input {
    border-radius: 30px;
    padding: 5px 10px;
    color: #454545;
    border: 1px solid rgba(0,0,0,0.2);
    display: block;
    width: 300px;
    outline: 0;
}
.infos label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.infos-item{
    margin-bottom: 10px;
}
.btn-submit{
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    width: 150px;
    text-decoration: none;
}